# Environnements virtuels
venv/
.env
*.env

# Fichiers temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.DS_Store

# Fichiers générés
out_pipeline/
CUA/out_pipeline/
CUA/out_test/
*.docx
*.html

# IDE / éditeurs
.vscode/
.idea/

# ignore la version full très lourde
INTERSECTIONS/STYLES/modele_styles_full.gpkg
INTERSECTIONS/STYLES/modele_styles_full.gpkg-shm
INTERSECTIONS/STYLES/modele_styles_full.gpkg-wal

